<section class="block container">
  <header class="block__header">
    <h2>Host On The Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, repellat!
    </p>
  </header>
  <article class="grid grid--1x2 block-feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic inventore
        omnis debitis dolore, libero dignissimos quae! Ab nam quod porro.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="./images/easy.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 block-feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic inventore
        omnis debitis dolore, libero dignissimos quae! Ab nam quod porro.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      /> -->
      <img class="feature__image" src="./images/fast.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 block-feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic inventore
        omnis debitis dolore, libero dignissimos quae! Ab nam quod porro.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      /> -->
      <img class="feature__image" src="./images/wordpress.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 block-feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic inventore
        omnis debitis dolore, libero dignissimos quae! Ab nam quod porro.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      /> -->
      <img class="feature__image" src="./images/Support.jpg" alt="" />
    </picture>
  </article>
</section>
